@font-face {
  font-family: 'Raleway';
  src: url('/assets/fonts/Raleway-VariableFont_wght.ttf') format('truetype');      
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('/assets/fonts/Raleway-Italic-VariableFont_wght.ttf') format('truetype');      
  font-style: italic;
}